body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

header {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;

}

.header, .content {
    margin: 0px 30vh;
}

.content img {
    width: 300px;
    height: 150px;
}

header nav {
    display: flex;
    gap: 15px;
}
 
a {
    text-decoration: none;
}

.info-section {
    text-align: center;
}


.info-grid {
    display: flex;
   justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid blue;
}

.subtext {
    width: 100px;
}